web/WEB-INF/wsdl/localhost_8080/ForumService/ForumService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.4 (RELEASE-2.4.4-ce05bec; 2020-04-17T12:44:48+0000) JAXWS-RI/2.3.3 JAXWS-API/2.3.3 JAXB-RI/2.3.3 JAXB-API/2.3.3 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.4 (RELEASE-2.4.4-ce05bec; 2020-04-17T12:44:48+0000) JAXWS-RI/2.3.3 JAXWS-API/2.3.3 JAXB-RI/2.3.3 JAXB-API/2.3.3 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://forumservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://forumservice/" name="ForumService">
<types>
<xsd:schema>
<xsd:import namespace="http://forumservice/" schemaLocation="http://localhost:8080/ForumService/ForumService?xsd=1"/>
</xsd:schema>
</types>
<message name="postComment">
<part name="parameters" element="tns:postComment"/>
</message>
<message name="postCommentResponse">
<part name="parameters" element="tns:postCommentResponse"/>
</message>
<message name="postReply">
<part name="parameters" element="tns:postReply"/>
</message>
<message name="postReplyResponse">
<part name="parameters" element="tns:postReplyResponse"/>
</message>
<message name="sayHello">
<part name="parameters" element="tns:sayHello"/>
</message>
<message name="sayHelloResponse">
<part name="parameters" element="tns:sayHelloResponse"/>
</message>
<message name="changePassword">
<part name="parameters" element="tns:changePassword"/>
</message>
<message name="changePasswordResponse">
<part name="parameters" element="tns:changePasswordResponse"/>
</message>
<message name="updateProfile">
<part name="parameters" element="tns:updateProfile"/>
</message>
<message name="updateProfileResponse">
<part name="parameters" element="tns:updateProfileResponse"/>
</message>
<portType name="ForumService">
<operation name="postComment">
<input wsam:Action="http://forumservice/ForumService/postCommentRequest" message="tns:postComment"/>
<output wsam:Action="http://forumservice/ForumService/postCommentResponse" message="tns:postCommentResponse"/>
</operation>
<operation name="postReply">
<input wsam:Action="http://forumservice/ForumService/postReplyRequest" message="tns:postReply"/>
<output wsam:Action="http://forumservice/ForumService/postReplyResponse" message="tns:postReplyResponse"/>
</operation>
<operation name="sayHello">
<input wsam:Action="http://forumservice/ForumService/sayHelloRequest" message="tns:sayHello"/>
<output wsam:Action="http://forumservice/ForumService/sayHelloResponse" message="tns:sayHelloResponse"/>
</operation>
<operation name="changePassword">
<input wsam:Action="http://forumservice/ForumService/changePasswordRequest" message="tns:changePassword"/>
<output wsam:Action="http://forumservice/ForumService/changePasswordResponse" message="tns:changePasswordResponse"/>
</operation>
<operation name="updateProfile">
<input wsam:Action="http://forumservice/ForumService/updateProfileRequest" message="tns:updateProfile"/>
<output wsam:Action="http://forumservice/ForumService/updateProfileResponse" message="tns:updateProfileResponse"/>
</operation>
</portType>
<binding name="ForumServicePortBinding" type="tns:ForumService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="postComment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="postReply">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sayHello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changePassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProfile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ForumService">
<port name="ForumServicePort" binding="tns:ForumServicePortBinding">
<soap:address location="http://localhost:8080/ForumService/ForumService"/>
</port>
</service>
</definitions>